doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Fullscreen Video Background
  body
    header.v-header.container
      .fullscreen-video-wrap
        video(src="videos/video.mp4" autoplay="true" loop="true")
      .header-overlay
      .header-content
        h1 Hello Everyone
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis enim earum minima atque impedit accusamus at ipsa, saepe eligendi est.
        a.btn(href="#") Read More
    section.First
      .container
        h1 Section A
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quasi! Cum necessitatibus saepe vel veniam exercitationem corporis dignissimos beatae. Reprehenderit sint voluptate corrupti quibusdam vel id, nihil delectus, adipisci saepe provident ducimus obcaecati! Dolorum quidem, explicabo culpa ipsam, magni suscipit tenetur quod nemo illo voluptate, natus facere aspernatur dolorem in.
    section.Two
      .container
        h1 Section B
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quasi! Cum necessitatibus saepe vel veniam exercitationem corporis dignissimos beatae. Reprehenderit sint voluptate corrupti quibusdam vel id, nihil delectus, adipisci saepe provident ducimus obcaecati! Dolorum quidem, explicabo culpa ipsam, magni suscipit tenetur quod nemo illo voluptate, natus facere aspernatur dolorem in.
